---
---


/* $thumb-size: 180px;
$wrap: 800px; */

.subject-container{
  container-type: inline-size;
}

.subject-box {
  display: flex;
  margin: 20px 0;
  border-radius: var(--rounded);
  background: var(--background);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.subject-image {
  position: relative;
  width: 180px;
  flex-shrink: 0;
  /* box-shadow: var(--shadow); */
}

.subject-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.subject-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  text-align: left;
}

@container (max-width: 800px) {
  .subject-box {
    flex-direction: column;
  }

  .subject-image {
    width: unset;
    height: 180px;
  }
}